/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$orange-color: #F05924;
$light-orange-color : #FEF2ED;
$turquoise-color : #56c7f1;
$light-blue-color : #f2f7f8;
$white-color : white;
$black-color : black;
$light-light-blue : #a2e3fc