/* Colors */
$orange-color: #F05924;
$blue-color: #80a5ff;
$weakly-blue-color: #79b3ff;
$white-blue-color: #dae5f6;
$off-white-color: #FEF2ED;
$white-color: #ffffff;
$row-hover: #F3F3F3FF;
$gray-color: #ccc;
$disabled-color: #CCCCCCFF;

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
