@import "../../../../../styles";

table {
  position: relative;
  left: 50%;
  width: 100%;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  transform: translateX(-50%);
}

.mat-elevation-z8 {
  box-shadow: 0 0 0 0;
}

.even-class {
  height: 0;
  background-color: $white-blue-color;
}
