<table mat-table [dataSource]="jokes" multiTemplateDataRows>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id</th>
        <td mat-cell *matCellDef="let joke" (click)="joke.isExpanded = !joke.isExpanded"> {{joke.id}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category</th>
        <td mat-cell *matCellDef="let joke"
            (click)="joke.isExpanded = !joke.isExpanded"> {{joke.categories}} </td>
    </ng-container>

    <ng-container matColumnDef="date_created">
        <th mat-header-cell *matHeaderCellDef> Date Created</th>
        <td mat-cell *matCellDef="let joke"
            (click)="joke.isExpanded = !joke.isExpanded"> {{joke.created_at}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let joke" [attr.colspan]="displayedJokesColumnsList.length">
            <div *ngIf="joke.isExpanded"
                 [@detailExpand]="'expanded'">
                <app-joke (click)="joke.isExpanded = !joke.isExpanded; " [joke]="joke"></app-joke>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedJokesColumnsList"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedJokesColumnsList;"></tr>
    <tr mat-row [ngClass]="{'even-class': even}"  *matRowDef="let row; let even; columns: ['expandedDetail']"></tr>

</table>
