@import "../../../../../styles";

table {
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-radius: 2px;
  border-color: $white-color;
  margin-top: -25px;
}

.mat-elevation-z8 {
  box-shadow: 0 0 0 0;
}

.even-class {
  height: 0;
  background-color: $white-blue-color;
}
