<div class="mat-elevation-z8">
    <table mat-table *ngIf="jokeList.data.length" [dataSource]="jokeList" multiTemplateDataRows>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id</th>
            <td mat-cell *matCellDef="let joke"
                (click)="onClickExpended(joke)">
                {{joke.id}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category</th>
            <td mat-cell *matCellDef="let joke"
                (click)="onClickExpended(joke)"> {{joke.categories}} </td>
        </ng-container>

        <ng-container matColumnDef="date_created">
            <th mat-header-cell *matHeaderCellDef> Date Created</th>
            <td mat-cell *matCellDef="let joke"
                (click)="onClickExpended(joke)"> {{joke.createDate}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let joke" [attr.colspan]="displayedJokesColumnsList.length">
                <div *ngIf="joke.isExpanded && joke.id === this.jokeClickedId">
                    <app-joke (click)="onClickExpended(joke)" [joke]="joke"></app-joke>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedJokesColumnsList"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedJokesColumnsList;"></tr>
        <tr mat-row [ngClass]="{'even-class': even}" *matRowDef="let row; let even; columns: ['expandedDetail']"></tr>
    </table>
</div>
{{jokes}}
