@import "../../../../../styles";

.form-fields-container {
  margin-top: -17px;
  width: 100%;
}

.form-control {
  background: $white-color;
  border-radius: 5px;
  height: 40px;
}

mat-error {
  background: $white-color;
}

