@import "../../../../../styles";

.form-fields-container {
  width: 100%;
  transform: translateY(-20%);
}

.form-control {
  background: $white-color;
  border-radius: 5px;
  height: 40px;
}

mat-error {
  position: absolute;
  margin-top: 10px;
}

