<div class="top-bar">
    <img id="top-bar-fire" src="../../../../../assets/fire-img.svg" alt="error">
    <img id="top-bar-logo" src="../../../../../assets/chuck-norris-img.png" alt="error">
    <img id="top-bar-title" src="../../../../../assets/title-img.png" alt="error">
</div>

<div class="buttons">
    <mat-button-toggle-group id="toggle-buttons">
        <mat-button-toggle value="Random" (click)="toggleJokeMode()"
                           [ngClass]="{'white' : isSearchMode, 'orange': !isSearchMode}">
            Random
        </mat-button-toggle>
        <mat-button-toggle value="Search" (click)="toggleJokeMode()"
                           [ngClass]="{'orange' : isSearchMode, 'white': !isSearchMode}">
            Search
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>

<app-joke-generator [joke]="joke" (generateJokeWasClicked)="generateJoke($event)"></app-joke-generator>




