<div class="main">
    <div class="main-pic">
        <img id="fire" src="../assets/unnamed.png" alt="background">
        <img id="chuck-pic" src="../assets/unnamed-3.png">
    </div>
    <div class="nav-buttons">
        <button [ngClass]="!changeMode ? 'selected-button':''" class="random-button" mat-raised-button
                (click)='onChangeModeClick("random")'>Random
        </button>
        <button [ngClass]="changeMode ? 'selected-button':''" class="search-button" mat-raised-button
                (click)='onChangeModeClick("search")'>Search
        </button>
    </div>
    <app-joke-generator (generateRandomJokeClicked)='onGenerateJokeClick()'
                        (generateJokesClicked)="getJokesFromSearch($event)"
                        (generateJokesSearched)="getJokesFromSearch($event)"
                        [mode]="changeMode" [jokeList]="jokeList$ | async" [joke]="joke$ | async"></app-joke-generator>
</div>