<div class="main">
    <div class="main-pic">
        <img id="fire" src="../assets/unnamed.png" alt="background">
        <img id="chuck-pic" src="../assets/unnamed-3.png">
    </div>
    <div class="nav-buttons">
        <button [ngClass]="{'selected-button': !isSearchMode}" class="random-button" mat-raised-button
                (click)='onChangeModeClick(false)'>Random
        </button>
        <button [ngClass]="{'selected-button': isSearchMode}" class="search-button" mat-raised-button
                (click)='onChangeModeClick(true)'>Search
        </button>
    </div>
    <app-joke-generator (generateRandomJokeClicked)='onGenerateJokeClick()'
                        (generateJokesClicked)="getJokesFromSearch($event)"
                        (generateJokesSearched)="getJokesFromSearch($event)"
                        [isSearchMode]="isSearchMode" [jokeList]="jokeList$ | async" [joke]="joke$ | async"></app-joke-generator>
</div>