<div class="main">
    <div class="main-pic">
        <img id="fire" src="../assets/unnamed.png" alt="background">
        <img id="chuck-pic" src="../assets/unnamed-3.png">
    </div>
    <div class="nav-buttons">
        <button [ngClass]="clicked==='random' ? 'search-button' : 'random-button'" id="random" mat-raised-button
                (click)='onRandomClick()'>Random
        </button>
        <button [ngClass]="clicked==='search' ? 'search-button' : 'random-button'" id="search" mat-raised-button
                (click)='onSearchClick()'>Search
        </button>
    </div>
    <app-joke-generator (generateRandomJokeClicked)='onGenerateJokeClick()'
                        (generateJokesClicked)="getJokesFromSearch($event)"
                        (generateJokesSearched)="getJokesFromSearch($event)"
                        [clicked]="clicked" [jokeList]="jokeList$ | async" [joke]="joke$ | async"></app-joke-generator>
</div>