<div class="parent">
    <img id="fire" src="../assets/unnamed.png" alt="background">
    <img id="chuck-pic" src="../assets/unnamed-3.png">
    <img id="chuck-norris" src="../assets/unnamed-3_2.png">

    <button id="random-button">Random</button>
    <button id="search-button">Search</button>

    <div class="rectangle-1"></div>
    <label class="key" for="name">Your name</label>
    <input class="rectangle-name" type="text" id="name" name="name">
    <label class="key" id="category">Category</label>
    <select class="rectangle-category" for="category" name="category">
        <option value="all-categories">All categories</option>
        <option value="animals">Animals</option>
    </select>
    <input id="go-button" type="submit" value="Go!" (click)="showJoke()">

    <p id="joke-text" *ngIf="joke">"{{joke}}"</p>

</div>






