<div class="body">
    <div class="info-container">
        <div *ngIf="clicked === 'random'" class="name-block">
            <label class="name" for="name">Your name</label>
            <input class="rectangle-name" type="text" id="name" name="name">
        </div>
        <div *ngIf="clicked === 'random'" class="category-block">
            <label class="category" id="category">Category</label>
            <select class="rectangle-category" for="category" name="category">
                <option value="all-categories">All categories</option>
                <option value="animals">Animals</option>
            </select>
        </div>
        <app-search *ngIf="clicked === 'search'" (generateJokesFromClick)="onGenerateJokesFromClick($event)"
                    (generateJokesFromSearch)="onGenerateJokesFromSearch($event)"></app-search>
        <button id="go-button" mat-raised-button color="warn" (click)="onGenerateJokesFromClick(this.term)">Go!</button>
    </div>
    <app-joke-list [jokeList]="jokeList" *ngIf="jokeList && clicked == 'search'"></app-joke-list>
    <app-joke [joke]="joke" *ngIf="joke && clicked == 'random'"></app-joke>
</div>