<div class="top-bar">
    <img id="top-bar-fire" src="./assets/fire-img.svg" alt="error">
    <img id="top-bar-logo" src="./assets/chuck-norris-img.png" alt="error">
    <img id="top-bar-title" src="./assets/title-img.png" alt="error">
</div>

<div class="buttons">
    <mat-button-toggle-group id="toggle-buttons">
        <mat-button-toggle value="Random" (click)="toggleJokeMode()"
                           [ngClass]="{'white' : isSearchMode, 'orange': !isSearchMode}">
            Random
        </mat-button-toggle>
        <mat-button-toggle value="Search" (click)="toggleJokeMode()"
                           [ngClass]="{'orange' : isSearchMode, 'white': !isSearchMode}">
            Search
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="buttons-container">
    <input id="input-style" matInput value="">
    <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
    </mat-select>
    <button (click)="onClick()" id="btn-three" mat-flat-button color="primary">Go!</button>
</div>

<div *ngIf="joke">
    <blockquote id="quote-style">
        <p id="joke-value">{{joke.value}}</p>
    </blockquote>
</div>



