@import "../../../../../styles";

.search-style {
  display: grid;
  grid-template-columns:  1fr 0.3fr;
  grid-gap: 70px;
  background-color: $off-white-color;
  border-radius: 0.4em;
  margin: 55px auto;
  width: 80%;
  padding: 20px 20px 5px 20px;

  .key-word-style {
    display: grid;
    grid-template-columns:  0.21fr 0.7fr;
  }
}

.random-container {
  display: grid;
  grid-template-columns:  1fr 1fr 0.7fr;
  grid-gap: 10px;
  background-color: $off-white-color;
  border-radius: 0.4em;
  width: 80%;
  margin: 55px auto 0;
  padding: 20px 20px 5px 20px;

  mat-select {
    background-color: $white-color;
    height: 40px;
    border-radius: 5px;
  }

  .your-name-style {
    display: grid;
    grid-gap: 10px;
    grid-template-columns:  0.25fr 0.9fr;
  }

  .category-style {
    display: grid;
    grid-template-columns:  0.1fr 0.9fr;
    grid-gap: 10px;
  }
}

a {
  padding-top: 10px;
}

button {
  color: $white-color;
}

.btn-three-random, .btn-three-search {
  background-color: $orange-color;
  height: 42px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 680px) {
  .random-container {
    display: block;

    .category-style {
      display: grid;
      grid-template-columns:  0.25fr 0.9fr;
      grid-gap: 10px;
    }

    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      width: 25%;
    }

  }
  .search-style {
    display: block;

    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      width: 25%;
    }
  }
}
