<div [ngClass]="{'search-style': isSearchMode}" *ngIf="isSearchMode" class="buttons-container">
    <a>Key word(s)</a>
    <app-search (generateJokesOnSearchMode)="onSearch($event)"
                (generateJokesOnClickMode)="this.searchKey = $event"
    ></app-search>
    <button [ngClass]="{'disabled-style': this.searchKey.length < 3}"
            [disabled]="this.searchKey.length < 3"
            (click)="onClick(this.searchKey)" class="btn-three" id="btn-three" mat-flat-button>Go!
    </button>
</div>

<div *ngIf="!isSearchMode" class="buttons-container">
    <a>Your name</a>
    <app-search></app-search>
    <a>Category</a>
    <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
    </mat-select>
    <button (click)="onClick(this.searchKey)" class="btn-three" mat-flat-button>Go!</button>
</div>

<div *ngIf="joke && !isSearchMode">
    <app-joke [joke]="joke"></app-joke>
</div>

<div *ngIf="jokes && isSearchMode">
    <app-joke-list [jokes]="jokes"></app-joke-list>
</div>




