<div class="main">
    <div class="jokes">
        <table *ngIf="jokeListTable.data.length > 0" [dataSource]="jokeListTable" class="mat-elevation-z8"
               class="jokes-table" mat-table
               multiTemplateDataRows>
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell> ID</th>
                <td *matCellDef="let joke" mat-cell>
                    {{joke.id}}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th *matHeaderCellDef mat-header-cell> Category</th>
                <td *matCellDef="let joke" mat-cell>
                    {{joke.categories}} </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th *matHeaderCellDef mat-header-cell> Date created</th>
                <td *matCellDef="let joke" mat-cell>
                    {{joke.created_at}} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td *matCellDef="let joke" [attr.colspan]="columnsToDisplay.length" mat-cell>
                    <div [@detailExpand]="joke == expandedElement ? 'expanded' : 'collapsed'"
                         class="element-detail">
                        <div class="element-description">
                            <div class="body">
                                <div class="joke-container">
                                    <p id="joke-text"> {{joke.value}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
            <tr (click)="expandedElement = expandedElement === joke ? null : joke"
                *matRowDef="let joke; columns: columnsToDisplay;"
                [class.example-expanded-row]="expandedElement === joke"
                class="element-row"
                mat-row>
            </tr>
            <tr *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>
        </table>
    </div>
</div>