@import "../../../styles";

table {
  margin-left: 30px;
  margin-right: 30px;
}

tr.element-row:not(.example-expanded-row):hover {
  background: $light-background-grey;
}

tr.element-row:not(.example-expanded-row):active {
  background: $light-background-grey;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparentize($light-blue-color, 0.9%);
}

.element-diagram {
  min-width: 80px;
  border: 2px solid $black-color;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-description-attribution {
  opacity: 0.5;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 8px;
}

.joke-container {
  padding: 30px;
}

#joke-text {
  padding: 15px;
  margin: 10px;
  border-bottom: solid;
  border-right: dashed;
  border-top: dashed;
  border-left: solid;
  border-width: 3px;
  border-color: $turquoise-color;
  font-style: italic;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: $turquoise-color;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}