@import "../../../../../styles";

.mat-card {
  line-height: 1.5;
  border: 2px dashed $blue-color;
  margin-right: 15%;
  margin-left: 15%;
  padding: 3% 15% 3% 15%;
}

.joke-value {
  color: $blue-color;
  font-size: 20px;
  text-align: center;
}

#open-quot {
  float: left;
  font-size: 40px;
}

#close-quot {
  float: right;
  font-size: 40px;
}
